@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --outline-bg: #030303;
    --outline-white: #f0f0f0;
    --outline-light: #d8ceb4;
    --outline-mid: #c1ac79;
    --outline-gold: #aa8a3e;
  }
}
